$font: 'Play', sans-serif;
$font2: 'Alegreya Sans', sans-serif;
$baseFontSize: 16px;
// $containerWidth: 915px;
$containerWidth: 915px;
$black: #292929;
$red: #E01F3D;

$tablets: 768px;
$phones: 480px;

$z-fixed-menu: 100;

@function rem($px) {
    @return calc($px / $baseFontSize) + 0rem;
}

@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}

@import "./blocks/*.scss";

@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css);

@import url(https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap);
