.btn {
    line-height: rem(18px);
    font-weight: bold;
    text-decoration: none;
    padding: rem(18px) rem(37px);
    border-radius: rem(100px);
    border: none;
    cursor: pointer;

    &-red {
        background: $red;
        color: #FFFFFF;

        &:hover {
            background: #CA1B36;
        }
    }

    &-transparent {
        background: transparent;
        color: #FFFFFF;
        font-weight: normal;

        @include tablets {
            color: $red;
        }
    }
}

.form__btns {
    margin-top: rem(44px);

    @include tablets {
        display: flex;
        justify-content: center;
    }

    @include phones {
        margin-top: rem(31px);
    }
}