.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 17%;
    }

    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(26px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(14px);

    @include tablets {
        margin-bottom: rem(16px);
    }
}

.form__block {
    flex: 1;
    margin-right: rem(26px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: rem(14px);
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: rem(18px) rem(12px);
    border: rem(3px) solid transparent;
    border-radius: rem(5px);

    &--textarea {
        height: rem(152px);
        resize: none;
        margin-bottom: rem(16px);
    }

    &:focus {
        border-color: #E01F3D;
        outline: none;
    }

    @include tablets {
        padding: rem(8px);

        &--textarea {
            height: rem(82px);
            margin-bottom: rem(12px);
        }
    }

}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(16px);

    @include phones {
        justify-content: center;
    }
}