.hero {
    background-color: #F5F5F5;
    height: 100vh;
    min-height: rem(652px);
    color: $black;

}

.hero__container {
    background: url(./img/Ellipse_5.svg) right bottom 38% / 53% auto no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) 0 rem(50px);
    position: relative;

    &:after {
        position: absolute;
        content: url(./img/Rectangle_14.svg);
        bottom: rem(-30px);
        right: 2%;
    }

    @include tablets {
        background: none;
    }
}

.hero__title-section {
    width: 46%;

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &::before {
             content: "";
            width: 323px;
            height: 323px;
            background: url(./img/Ellipse_5.svg) center center / contain no-repeat;
            margin-bottom: rem(64px);

        }
    }

    @include phones {

        &::before {
            content: "";
            margin-bottom: rem(49px);
        }
    }
}

.hero__icons-section {

    @include tablets {
        display: none;
    }
}

.hero__main-title {
    text-transform: uppercase;
    font-size: rem(48px);
    line-height: rem(52px);
    font-weight: bold;
    margin-bottom: rem(22px);

    @include tablets {
        margin-bottom: rem(5px);
        padding: 0 rem(15px);
    }

    @include phones {
        font-size: rem(32px);
        padding: 0 rem(28px);
        line-height: rem(36px);
        margin-bottom: rem(14px);
    }
}

.hero__title-desc {
    font-family: $font2;
    font-size: rem(21px);
    line-height: rem(25px);
    margin-bottom: rem(40px);
    padding-right: 20%;

    @include tablets {
        padding: 0 25%;
        margin-bottom: rem(26px);
    }

    @include phones {
        padding: 0 13%;
        margin-bottom: rem(19px);
    }
    
}