.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials__item {
    display: flex;
}

.socials__link {
    width: rem(30px);
    height: rem(30px);
    position: relative;
    margin-right: rem(10px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
    width: rem(32px);
    height: rem(32px);
    }

    @include phones {
    width: rem(24px);
    height: rem(24px);
    }
}

.link-icon {
    width: 30px;
    height: 30px;
    fill: #B3B3B3;
}

.link-icon--active {
    fill:black;
}

